body {
  margin: 0;
}

h1 {
  background-color: lavender;
  width: 350px;
  border: 2px solid purple;
  border-top-color: cyan;
  border-right-color: magenta;
  border-bottom-color: yellow;
  border-left-color: magenta;
  border-bottom-width: 5px;
  border-top-style: dotted;
  /*   margin-bottom: 300px;
  margin-left: 100px; */
  padding: 10px;
}

img {
  width: 300px;
  height: 200px;
  border: 2px dashed black;
  padding: 20px;
  /*   padding-bottom: 40px;
  padding: 40px 10px; */
  /*   margin: 20px 10px; */
  box-sizing: border-box;
}

img:hover {
  border: 5px solid rebeccapurple;
}

#tiger {
  margin: 10px 20px 30px 40px;
}

button {
  font-size: 40px;
  border: 2px solid magenta;
  padding: 0;
}

div button {
  background-color: olive;
  border: 5px dashed orangered;
  padding: 20px;
}

div button:nth-of-type(1) {
  background-clip: content-box;
}

div button:nth-of-type(2) {
  background-clip: padding-box;
}

div button:nth-of-type(3) {
  background-clip: border-box;
}

h2 {
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: 400px;
  font-size: 50px;
}
