body {
  width: 700px;
}

h1 {
  /* font-family: Perpetua, Palatino, serif; */
  /* font-weight: 100; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
