/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap'); */

/* font-family: 'Raleway', sans-serif; */

body {
  font-size: 3rem;
}

h1 {
  font-weight: 100;
}

h2 {
  font-weight: 200;
}

h3 {
  font-weight: 300;
}

h4 {
  font-weight: 400;
}

h5 {
  font-weight: 500;
}

h6 {
  font-weight: 600;
}
